body {
  overflow: hidden;
  margin: 0px;
}

#btn-entity {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  margin: auto;
}
