body {
  overflow: hidden;
  margin: 0px;
}

#btn-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#game,
#ui {
  position: absolute;
}

#game {
  z-index: -1;
}
